.product-card {
    max-width: 500px;
    font-family: 'Cinzel', serif;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.product-card__media {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-card__content {
    text-align: center;
    padding: 16px;
}

.product-card__title {
    font-weight: 500 !important;
    font-size: 1.1rem !important;
}

.product-card__brand {
    margin-bottom: 12px !important;
}

.product-card__price {
    font-weight: bold !important;
    color: #ffffff;
    margin-top: 8px !important;
    font-size: 1.4rem !important;
}
