
.card {
    background-color: #fff;
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    overflow: hidden;
    text-align: center;
    font-family: Cinzel serif;
  }


  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    font-weight: bold;
  }

  .card-price {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding-top:10px;
    font-weight: bold;

    
  }

  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }


.card-subtitle {
    font-size: 1.0rem;
    color: gray;
    padding-bottom: 30px;
}