.sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 4px 0 10px rgba(255, 0, 0, 0.6);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
}

button {
    width: 100%;
}
