@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Young+Serif&display=swap');

.hero-image {
  
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1568515045052-f9a854d70bfd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15%;
}

.hero-text {
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: large;
    transition: text-shadow 0.5s ease, transform 1s ease;
}

.hero-text:hover {
  text-shadow: 80px 80px 80px rgba(0, 0, 0, 0.9);
  /*transform: translateY(-1px);  PER SCOPRI I PRODOTTI*/ 
}

.hero-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  background-color: #222222;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: 'Cinzel', serif;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.hero-button:active {
  transform: translateY(-1px);
}

button a {
  color: inherit;
  text-decoration: none;
}

a:hover {
    color: inherit;
  text-decoration: none;
}






@media (max-width: 1300px) {
  .hero-title {
    font-size:2rem;
  }
  .hero-image {
    height: 70vh;
  }

}


@media (max-width: 1100px) {
  .hero-title {
    font-size:6rem;
  }
}



@media (max-width: 750px) {
  .hero-title {
    font-size:8rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size:10rem;
  }

  .hero-text {

  }
}
