@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Young+Serif&display=swap');

.hero-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1568515045052-f9a854d70bfd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15%;
}

.hero-text {
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: large;
    transition: text-shadow 0.5s ease, transform 1s ease;
}

.hero-text:hover {
  text-shadow: 20px 20px 40px rgba(0, 0, 0, 0.7);
  /*transform: translateY(-1px);  PER SCOPRI I PRODOTTI*/ 
}

